@import '../../../styles.scss';

button {
  min-width: 100px;
  height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.3s;

  &.mat-primary {
    color: $white;
    background-color: $main;
    &:hover {
      background-color: $main-dark;
    }
    &:active {
      background-color: $main-darker;
    }
  }

  &.mat-secondary {
    background-color: $transparent;
    border: 2px solid $main;
    color: $main;
    &:hover {
      border-color: $main-dark;
      color: $main-dark;
    }
    &:active {
      border-color: $main-darker;
      color: $main-darker;
    }
  }
}
