<h2>Email change</h2>
<p>Hi {{ name }}! You received this email because you are about to change your email from {{ oldEmail }}</p>
<p>
  <a href='{{url}}'>Confirm change</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
