<h2>Confirm you email</h2>
<p>Welcome {{ name }}! You received this email because your account was registered in the Doctoo</p>
<p>Please click below to continue your signup</p>
<p>
    <a href="{{ url }}">Continue signup</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>