$font-inter: 'Inter', sans-serif;
$font-syncopate: 'Syncopate', 'Inter', sans-serif;

$spacing-128: 32rem;

$transparent: #00000000;
$semi-transparent: rgba(0, 0, 0, 0.5);
$black: #202323;
$black-2: #454f50;
$white: #ffffff;
$text: #454f50;
$grey-1: #707d7e;
$grey-2: #899596;
$grey-3: #afbcbd;
$grey-4: #cad7d9;
$grey-5: #e5ebec;
$middle-grey: #b0b0b0;
$dark-grey: #454950;
$background: #f1f6f9;
$main: #089bab;
$main-medium: #6bc3cd;
$main-light: #d9f0f2;
$main-dark: #057d8a;
$main-darker: #05616b;
$orange: #f2a450;
$orange-light: #fdf4e7;
$error: #ed5252;
$error-light: #fcf0ed;
$green: #64c68d;
$green-2: #ace9c5;
$green-dark: #35995f;
$green-light: #effaf4;
$green-border: #6bc3cd;