/* Import fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500?display=swap");
@import url("https://fonts.googleapis.com/css?family=Syncopate:regular,700?display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  @apply font-sans;
  @apply font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  h1 {
    @apply text-3xl font-inter font-medium;
  }

  h2 {
    @apply text-2xl font-inter font-medium;
  }

  h3 {
    @apply text-xl font-inter font-medium;
  }

  p {
    @apply text-base font-inter font-normal;
  }

  a {
    @apply text-base font-inter font-normal underline;
  }
}

@layer components {
  .text-helper {
    @apply text-sm font-inter font-normal;
  }
}